
body{
    background-color: #e2dadb;
}

a:link, a:visited {
    color: white;
    text-decoration: none;
  }
  
a:hover, a:active {
    color:#635255;
    text-decoration: none;
}

.tooltip .tooltiptext{
    visibility: hidden;
    width: 200px;
    background-color:white;
    color: #d5b0ac;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    font-size: small;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 5px;
    }
.tooltip:hover .tooltiptext {
        visibility: visible;
    }

.header{
    color: white; 
    position: fixed;
    top:0;
    left:0;
    background-color: #d5b0ac;
    text-decoration: none;
    font-family: 'Rajdhani', sans-serif;
    position: sticky;
}

.main-nav li{
    list-style-type: none;
    text-align: center;
    margin: 15px auto;
}

.my_name{
    display: inline-block;
    color:#635255;
    font-size: 30px;   
    cursor: pointer;  
    font-family: 'Rajdhani', sans-serif;
    margin-top: 10px;
    margin-left: 20px;
}

nav{
    padding-left: 30px;
}

.header-section{
    font-size: 23px;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 3px;
}

.navbar-toggle {
    position: absolute;
    top: 10px;
    right: 45px;
    cursor: pointer; 
    font-size: 24px;
}

.main-nav {
    list-style-type: none;
    display: none;
}
.active {
    display: block;
  }


.about-container{
    padding-top: 5%;
    padding-bottom: 20px;
    margin-right: 11%;
    margin-left: 11%;
    
}

.bio-pic{
    display: block;
    align-self: start;
    height: auto;
    padding-top: 5%;
    width: 100%;
    order: 1;
}

.bio-info{
   
    padding-bottom: 20px;
    padding-left: 20px;
    color: #635255;
    font-family: 'Rajdhani', sans-serif;
    order: 2;
}

.bio-size{
    font-size: 20px;
}

.experience-container {
    padding-top: 5%;
    padding-bottom: 20px;
    margin-right: 11%;
    margin-left: 11%;
    
}
.experience-section-left{
    color: #635255;
    font-family: 'Rajdhani', sans-serif;
    
}

.experience-section-right{
    color: #635255;
    font-family: 'Rajdhani', sans-serif;
    
    
}

.experience-container ul{
    list-style-type: circle;
  }
  
  
.experience-pic {
    width:350px;
    height:225px;
    display: flex;
    margin-top: 20px;
    margin-right: 40px;
    padding-left: 35px;
    
}

.project-container{
    padding-top: 80px;
    padding-bottom: 20px;
    margin-right: 11%;
    margin-left: 11%;
    /* display: flex; */
    
}

.project-section{
    color: #635255;
    font-family: 'Rajdhani', sans-serif;
    max-width: 600px;   
    order:1;
}

.project-pic{
    width:230px;
    display: flex;
    margin-top: 20px;
    margin-right: 40px; 
    order:2;
}

.project-pic:hover{
    opacity: 0.7;
}

button{
    background-color:  #d5b0ac;
    border: none;
    color: white;
    padding: 7px 23px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Rajdhani', sans-serif;
}

button:hover{
    opacity: 0.8;
}



footer{
    padding-top: 10%;
    text-align: center;
    color: #d5b0ac;
    font-family: 'Rajdhani', sans-serif;
    height: 2.5rem;   
    width: auto;
    
}

.icon-container{
    padding-bottom: 20px;
    
}

.icon-section1{
    font-size: 35px;
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;
    
}

.icon-section{
    font-size: 35px;
    cursor: pointer;
    margin-left: 50px;
    padding-left: 5px;
    padding-right: 5px;
   
}



@media screen and (min-width: 800px) {
    .about-container, .experience-container , .project-container{
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 5%;
    }
    .icon-section{
        text-align: center;
        margin-left: 90px;
    }
    .experience-section-left{
        width:140%;
    }
    .experience-section-right{
        width: 70%;
        padding-left: 130px;
    }
    .project-pic{
        height: 200px;
        width: 300px;
    }
}

@media screen and (min-width: 921px) {
    .header {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
    }
    .main-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }
    .main-nav li {
        margin: 0;
    }
    .header-section {
        margin-left: 40px;
    }
    .my_name {
        margin-top: 0;
    }
   .navbar-toggle {
       display: none;
    }
    
    
}